<% if @user.errors.full_messages %>
    <% @user.errors.full_messages.each do |message|%>
        <div class="error">
            <%= message %>
        </div>
    <% end %>
<% end %>

<div class="main">
    <h2>アカウント編集</h2>

    <div class="user-new">
        <%= form_tag("/masters/update/#{@user.id}") do%>
            <p>氏名</p>
            <input name="name" value="<%= @user.name %>">
            <p>email</p>
            <input name="email" value="<%= @user.email %>">
            <p>passwordを入力してください。<br>変更する場合は新しく入力してください</p>
            <input name="password">
            <button type="submit">編集</button>
            <div class="clear"></div>
        <% end %>
    </div>
</div>