<div class="main">
    <h2>注文履歴　詳細</h2>

    <div class="check">
        <% @orders.each do |order| %>
            <div class="check-product">
                <div class="show-name">
                    <%= order.product.name %>
                </div>
                <div class="show-money">
                    <%= "¥#{order.product.money}" %>
                </div>
            </div>
        <% end %>

        <%= link_to("戻る","/masters/orderlist", {class: "return"}) %>
    </div>
</div>