<div class="main">
    <h2>アカウント編集</h2>

    <div class="user-new">
        <%= form_tag("/users/update/#{@user.id}") do%>
            <p>氏名</p>
            <input name="name" value="<%= @user.name %>">
            <p>email</p>
            <input name="email" value="<%= @user.email %>">
            <p>password</p>
            <input name="password" value="<%= @user.password %>">
            <button type="submit">編集</button>
            <div class="clear"></div>
        <% end %>
    </div>
</div>