<div class="main">

    <div class="user-login">
        <%= form_tag("/mypage") do %>
            <h2>ログイン</h2>
            <p>email</p>
            <input name="email" >
            <p>password</p>
            <input type="password" name="password" >
            <div class="login-btn">
                <button type="submit">ログイン</button>
            </div>
        <% end %>
    </div>
</div>