<div class="main">

    <div class="user-login">
        <h2>ログイン</h2>
        <p>email</p>
        <input name="email" >
        <p>password</p>
        <input tyoe="password" name="password" >
        <div class="login-btn">
            <button>ログイン</button>
        </div>
    </div>
</div>