@import "setting";

/*-------------------------------------*/
/* index */

.admin {
    width: 100%;
    height: 80px;
    background-color: $header_admin;
}

.header-menus_admin {
    float: right;
    height: 80px;
    line-height: 80px;

    li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    font-size: 20px;
    height: 80px;
    
        &:hover{
            background-color: darken($header_admin, 10%);
        }
    }
}

/*-------------------------------------*/
/* masters */

.userlist {
    margin:30px 0;

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 25px;
        text-align: center;

        th {
            background-color: $userlist_th;
        }

        th, td {
            border: solid 2px black;
            padding: 5px 0;
        }

        td {
            background-color: $userlist;
        }

        tr:nth-child(odd) td {
            background-color: white;
        }

        .userlist-id {
            width: 10%;
        }

        .userlist-delete {
            width: 15%;
        }

        .userlist-admin {
            width: 15%;
        }
    }
}


