/*-------------------------------------*/
/* index */

.user {
    text-align: center;
    p {
        font-size: 30px;
    }
}

.user-btn {
    width: 100%;
    margin: 40px 0;

    .user-create, .user-destroy{
        width: 130px;
        height: 40px;
        font-size: 15px;
        border-radius: 5px;
        background-color: seashell;
    }

}