@import "setting";

/*-------------------------------------*/
/* login */

.user-login {
    width: 500px;
    height: 350px;
    box-shadow: 0 0 5px $header;
    margin: 70px auto;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;

    h2 {
        margin-bottom: 20px;
    }

    input {
        font-size: 25px;
        width: 60%;
    }

    p {
        font-size: 25px;
        margin: 10px auto;
        width: 60%;
    }

    .login-btn {
        width: 100%;

        button {
            font-size: 20px;
            width: 130px;
            height: 30px;
            background-color: $btn;
            border-radius: 5px;
            margin-top: 30px;
        }
    }
}





/*-------------------------------------*/
/* index */

.user {
    text-align: center;
    p {
        font-size: 30px;
    }
}

.user-btn {
    width: 100%;
    margin: 40px 0;

    .user-create, .user-destroy{
        width: 130px;
        height: 40px;
        font-size: 15px;
        border-radius: 5px;
        background-color: $btn;
    }

}

/*-------------------------------------*/
/* new */

.user-new {
    width:70%;
    margin: 50px auto;

    p {
        font-size: 25px;
        margin: 10px 0;
        width: 60%;
    }

    input {
        font-size: 25px;
        width: 60%;
    }

    button {
        float: right;
        width: 130px;
        height: 30px;
        margin: 70px 50px;
        font-size: 20px;
        border-radius: 5px;
        background-color: $btn;
    }
}