<div class="main">
    <h2>注文が確定しました</h2>

    <div class="check">
        <% @orders.each do |order| %>
            <div class="check-product">
                <div class="check-name">
                    <%= order.product.name %>
                </div>
                <div class="check-money">
                    <%= "¥#{order.product.money}" %>
                </div>
            </div>
        <% end %>

        <div class="clear"></div>
        <div class="check-price">
            <p><%= "合計：#{@price.price}" %></p>
        </div>
        <div class="clear"></div>

        <%= link_to("マイページ","/products/index", {class: "return"}) %>
    </div>
    
</div>