<div class="main">
    <h2>注文履歴</h2>

    <% @orders.each do |order| %>
        <div class="order">
            <%= link_to("","#", {class: "order-show"}) %>
            <div class="order-number">
                <%= "●　注文番号：#{order.count}" %>
            </div>
            <div class="order-money">
                <p><%= "¥：#{order.price}" %></p>
            </div>
        </div>
    <% end %>
    
</div>